.formrecall__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 775px;
  margin-right: 60px;
}

.formrecall__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 40px;
}

.formrecall__form-text {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.formrecall__form-text-title {
  width: 100%;
  font-size: 2em;
  line-height: 30px;
  font-weight: 900;
  color: #2E2C2C;
  margin-bottom: 20px;
}

.formrecall__form-text-description {
  width: 100%;
  text-align: left;
  font-size: 1.1em;
  line-height: 19px;
  font-weight: 400;
  color: #000;
}

.formrecall__form-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 507px;
}

.formrecall__input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formrecall__button-wrapper {
  display: flex;
  justify-content: flex-start;
}

.formrecall__input-error-wrapper {
  width: 100%;
  height: 18px;
}

.formrecall__input {
  border: 1px solid #319F1C;
  border-radius: 4px;
  padding: 10px 30px;
  outline: none;
  font-size: 1em;
  color: #000;

  &:hover {
    border: 1px solid #63d141;
  }

  &:focus {
    border: 1px solid #63d141;
  }
}

.formrecall__textarea {
  resize: none;
}

.formrecall__input-error {
  font-size: .75em;
  line-height: 19px;
  font-weight: 400;
  color: #f00;
}

.formrecall__button {
  border-radius: 4px;
  padding: 13px 78px;
  background: #319F1C;
  border: 1px solid #319F1C;
  font-size: 1em;
  color: #fff;

  &:hover {
    border: 1px solid #63d141;
    background: #63d141;
  }
}

.formrecall__helmet {
  position: absolute;
  top: 151px;
  right: -125px;
  z-index: -1;
}