.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-item {
  position: relative;
  
  width: 35px;
  height: 35px;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  
}

.footer__social-inner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .2s;
  &:hover {
    left: 45%;
    top: 45%;
  }
}