.head__wrapper {
  display: flex;
  width: 100%;
  height: 660px;
  margin-bottom: 60px;
}

.head__item {
  display: flex;
  width: 50%;
  height: 100%;
}

.head__item-form {
  justify-content: flex-start;
  align-items: flex-start;
}

.head__item-buttonvr {
  justify-content: center;
  align-items: center;
}


