.buttonvr__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buttonvr__link {
  text-decoration: none;
}

.buttonvr__icon-wrapper {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background: #fff;
}

.buttonvr__text-wrapper {
  padding: 16px 57px;
  background: #fff;
}

.buttonvr__text {
  font-size: 1.25em;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #319F1C;
}