$borderColor: #455FCE;
$warningColor: #FF0000;
$font: 'Raleway';
$formWidth: 100%;
$max-width-tablet: 1279px;
$max-width-phone: 649px;
$white: #FFFFFF;
$black: #1B1B1F;
$green: #7AC500;
$blueDarkColor: #0F1C2A;
$blueLightColor: #455FCE;
$greySearchColor: #9A9AA3;
$greyBlueColor: #E9EEF9;
$greyDefault:#D1D1D1;
$greyDisabled: #F3F3F3;

/* @mixin fieldsFont {
  & {
    font-family: $font;
  }

  &::placeholder {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: $max-width-phone) {
    & {
      font-size: 12px;
      line-height: 18px;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 150%;
    }
  }
}

@mixin textFont {
  & {
    font-family: $font;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    font-style: normal;
  }
}

@mixin textFieldInput {
  border: 1px solid $greySearchColor;
  border-radius: 8px;
  width: 100%;
  @include fieldsFont;
  margin-top: 5px;

  &:focus {
    outline: 0;
    border: 1px solid $borderColor;
  }
}

:export {
  maxWidthPhone: $max-width-phone;
  maxWidthTablet: $max-width-tablet;
} */